<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-header pull-left">
      Welcome, Admin
    </div>
    <button type="button" class="btn btn-danger pull-right" (click)="onLogout()">Logout</button>
  </div>
  <div class="panel-body">
    <div *ngFor="let user of users" class="row">
      <div class="col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5">
          <a  [routerLink]="['/users',user._id]" class="btn btn-default btn-block btn-primary-spacing"> {{user.name.first + " " + user.name.last}}</a>
          <br>
      </div>
    </div>
  </div>
</div>
