<div class="form-container well">
  <form>
    <div class="login-header">
      Login
    </div>
    <div class="form-group">
      <label for="inputEmail">Email *</label>
      <input type="email"
             name="email"
             class="form-control"
             [(ngModel)]="email"
             id="inputEmail"
             placeholder="Email"
             #usernameModel="ngModel" required >
             <div *ngIf="usernameModel.errors?.required"> 
              Username is required
            </div> 
    </div>
    <div class="form-group">
      <label for="inputPassword">Password *</label>
      <input type="password"
             name="password"
             [(ngModel)]="password"
             class="form-control"
             [pattern]="passwordPattern"
             #passwordModel="ngModel"
             id="inputPassword"
             placeholder="Password" required>
             <div *ngIf="passwordModel.errors?.pattern"> 
              Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.
            </div>
            <div *ngIf="passwordModel.errors?.required"> 
              Password is required
            </div> 
    </div>
    <button type="submit"
            [disabled]="usernameModel.errors || passwordModel.errors"
            (click)="login()"
            class="btn btn-primary">
      Login
      <span *ngIf="loading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </button>
    <div class="alert alert-danger" role="alert" *ngIf="authError.auth == false"> 
      {{ authError.message }}
    </div>
  </form>
</div>