.panel-default {
  margin-top: 50px;
}

.panel-default .panel-heading {
  height: 53px;
  line-height: 36px;
}

.panel-default .panel-body {
  padding: 50px 100px;
}

.panel-default .panel-body .item-container{
  margin: 5px 0;
}
.panel-default .panel-body .item-container .item-label {
  color: #777;
  font-size: 14px;
}
.panel-default .panel-body .item-container .item-value {
  color: #222;
  font-size: 18px;
  padding-left: 20px;
  font-weight: 600;
}