<div class="panel panel-default">
  <div class="panel-heading panel-primary">
    <div class="panel-title pull-left">
      Details for user {{user.name.first}} 
    </div>
    <button type="button" class="btn btn-danger pull-right" (click)="onLogout()">Logout</button></div>
  <div class="panel-body">
    <div class="well row">
      <div class="col-lg-6 col-sm-6 col-md-6">
        <div class="item-container">
          <div class="item-label">First Name:</div>
          <div class="item-value">{{ user.name.first }}</div>
        </div>
        <div class="item-container">
          <div class="item-label">Last Name:</div>
          <div class="item-value">{{ user.name.last }}</div>
        </div>
        <div class="item-container">
          <div class="item-label">Gender:</div>
          <div class="item-value">{{ user.gender }}</div>
        </div>
        <div class="item-container">
          <div class="item-label">Email:</div>
          <div class="item-value">{{ user.email }}</div>
        </div>
        <div class="item-container">
          <div class="item-label">Phone:</div>
          <div class="item-value">{{ user.phone }}</div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 col-md-6">
        <div class="item-container">
          <div class="item-label">DOB:</div>
          <div class="item-value">{{ user.dob.date | date: 'medium' }}</div>
        </div>
        <div class="item-container">
          <div class="item-label">Address:</div>
          <div class="item-value">{{ user.location.street }}</div>
          <div class="item-value">{{ user.location.city }}</div>
          <div class="item-value">{{ user.location.state + ' - ' + user.location.postcode }}</div>
        </div>
      </div>
      
    </div>
  </div>
</div>
